html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(78, 99, 89);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Futura;
}
h1{
  font-size: 3vh;
}
main{
  
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align:center;
  height: 50vh;
  width:60%;
  
}
#status{
 
  text-align: right;
  color: gray;
  font-weight: bold;
  padding: 1vh;
  
}






img{
  
  margin: 0 auto;
  width: 140px;
  height: 200px;
  border-radius: 50%;
  border: 2px rgb(5, 195, 5) solid;
}
#brand{
  display: none;
}
#contact{
  display:flex; 
  justify-content: center;
  background: green;
  align-items: center;
  height:75%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  
  
}



#contact > p {
  height: 60px;
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#contact > p:first-child {
  background-color: lime;
  height:100%;
  
}

#contact > p:last-child {
  background-color: green;
  height:100%;
}


@media only screen and (min-width: 768px){
main{
  height: 250px;
  width: 525px;
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: 20% 40% 20% 20%;

grid-template-areas: "status name"
                      "image occupation"
                    "contact offer";
margin:0;
padding:0;

}
#name{
  grid-area:name;
  font-size: 3vh;

  padding: 10px;
}
#occupation{
  grid-area: occupation;
  margin:0px;
  font-size: 2vh;
  font-weight: bold;
  color: gray;
}

#status{
  grid-area: status;
  text-align: left;


}
#brand{
  display: inline;
  grid-column: 2/3;
  font-size: 1.25vh; 
  color: gray;
}
#offer{
  grid-area:offer;
  grid-row: 4/5;
}

#offer,#occupation,#brand,#name{
  background: rgb(243, 237, 237);
  text-align: left;
  height: 100%;
  padding-left: 1vh;
  padding-right: 3vh ;

  margin:0;
 
}

img{
  grid-area: image;
  margin: 0 auto;
  max-width:14vh;
  
}

#contact{

  margin:0;
  height:100%;
  grid-column: 1/2;
  width:100%;
  font-size:2vh;
}


}
