html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(78, 99, 89);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main{
  
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align:center;
  height: 50vh;
  width:75%;
  
}
#status{
 
  text-align: right;
  color: gray;
  font-weight: bold;
}



img{
  
  margin: 0 auto;
  max-width: 10vh;
  border-radius: 25px;
  border: 2px rgb(5, 195, 5) solid;
}
#brand{
  display: none;
}
#contact{
  display:flex; 
  justify-content: center;
  background: green;
  align-items: center;
  height:60px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  
  
}



#contact > p {
  height: 60px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#contact > p:first-child {
  background-color: lime;
}

#contact > p:last-child {
  background-color: green;
}

